DATABASE_URL="postgresql://user:password@localhost:5432/traffic_engine"
REDIS_URL="redis://localhost:6379"
PORT=3002

RESEND_API_KEY=""
RESEND_FROM_EMAIL="noreply@yourdomain.com"

JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
# access token expiry (15 minutes)
JWT_ACCESS_EXPIRES_IN="15m"
# refresh token expiry (30 days)
JWT_REFRESH_EXPIRES_IN="30d"

NODE_ENV="development"
